<!DOCTYPE html>
<html>
  <head>
    <title>Papercut</title>
    
  <!-- Header -->
  <%= render "layouts/partials/header" %>
  <body>	
  <%= render 'layouts/messages' %>
  <%= yield %>
  </body>
   <!-- Footer -->
  <%= render 'layouts/partials/footer' %>
</html>
